<div class="mat-accordion-container">
  <mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let exam of exams">
      <mat-expansion-panel-header size="1">
        <span style="color: purple; font-weight: bold">{{ exam.title }} </span>
        &nbsp;{{ exam.teacher }}
      </mat-expansion-panel-header>

      <mat-action-row>
        <button mat-raised-button color="primary">EDIT</button>
        <button mat-raised-button color="warn">DELETE</button>
      </mat-action-row>
      <div class="table">
        <table style="border: gray solid 1px" class="mat-elevation-z4">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
          </tr>
          <ng-container *ngFor="let student of students">
            <ng-container *ngIf="student.groupId == '1'">
              <tr>
                <td>
                  {{ student.firstName }}
                </td>
                <td>
                  {{ student.lastName }}
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <p *ngIf="exams.length == 0" class="info-text mat-body-1">
    No posts added yet!
  </p>
</div>
